source http://nuget.org/api/v2

nuget FAKE
nuget FSharp.Compiler.Service
nuget FSharp.Formatting 
nuget FsUnit 
nuget Microsoft.AspNet.Razor 
nuget NUnit 
nuget NUnit.Runners 
nuget RazorEngine
nuget Nuget.CommandLine
nuget FsPickler
nuget fszmq