source http://nuget.org/api/v2

nuget FAKE 3.5.7
nuget FSharp.Compiler.Service 0.0.59
nuget FSharp.Formatting 2.4.26
nuget FsPickler 0.9.11
nuget FsUnit 1.3.0.1
nuget Microsoft.AspNet.Razor 2.0.30506.0
nuget NUnit 2.6.3
nuget NUnit.Runners 2.6.2
nuget RazorEngine 3.3.0
nuget Nuget.CommandLine